<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <title>OTIS | </title>
    <link rel="stylesheet" href="../assets/styles/general.css">
    <link rel="stylesheet" href="../assets/styles/components/.css">
    
  </head>
  <body>
    <main>
    
<div class="reports">
    <h4 class="reports__header">Reports</h4>
    <div id="reports__chart"></div>
</div>

    </main>
  </body>  
</html>

