<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <title>OTIS | footer</title>
    <link rel="stylesheet" href="../assets/styles/general.css">
    <link rel="stylesheet" href="../assets/styles/components/footer.css">
    
  </head>
  <body>
    <main>
    
<footer>
    <section class="otis-footer ">
        <span class="otis-footer__otisline">OTISLINE 
            <a href="tel:800-233-6847" class="otis-footer__hotline"> 800-233-6847</a>
        </span>
        <a href="#" class="otis-footer__contact">My Otis Contacts</a>
        <a href="#" class="otis-footer__legal">Legal</a>
        <span class="otis-footer__offer">Get 30% off labor and parts when you enable Otis ONE on Elevator 3 Lobby C at 10 Farm Springs before 15 November, <a href = "#" class="otis-footer__offer-link">click here </a> to learn more.</span>
        <img class="otis-footer__chat" src="./assets/images/icon-chat.svg" alt="chat" >
    </section>
</footer>

    </main>
  </body>  
</html>

