<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <title>OTIS | Service Requests</title>
    <link rel="stylesheet" href="../assets/styles/general.css">
    <link rel="stylesheet" href="../assets/styles/components/service-request-items.css">
    
  </head>
  <body>
    <main>
    

<section class="service-requests-section "> <!-- full-height -->
    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="false">
        <!--Opened Tickets-->
        <div class="tickets-accordion">

            <div role="tab" id="opened-tickets-heading">
                <a class="tickets-accordion__collapsable collapsed" data-toggle="collapse" data-parent="#accordionEx"
                    href="#opened-tickets-collapse" aria-expanded="true" aria-controls="opened-tickets-collapse">
                    <h4 class="tickets-accordion__header"> open services & requests
                     
                    <span class="tickets-accordion__header-counter tickets-accordion__header-counter--open">9</span>
                    
                    </h4>
                </a>
            </div>

            <div id="opened-tickets-collapse" class="collapse show tickets-accordion__body" role="tabpanel" aria-labelledby="opened-tickets-heading"
                data-parent="#accordionEx">
                
                <div class="swiper-container opened-tickets-swiper">
                    <div class="swiper-wrapper tickets-accordion__tickets-carousel" id="open_tickets">
                        
                        <div class="swiper-slide tickets-accordion__ticket-card open">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                    
                                
                                <i class="icon-tickets hide-mob"></i>
                                
                                Fire or smoke  (5 hours)</div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 1</span>
                                   
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                                <img src="assets/images/icon-warning.svg">
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS1
                                
                                <i class="icon-tech"></i>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                                <span>Created:</span>
                                <b>4:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                                <span>Updated:</span>
                                <b>5:00PM 25-OCT-2019</b>
                            </div>
                        </div>
                        
                        <div class="swiper-slide tickets-accordion__ticket-card open">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                    
                                
                                <i class="icon-tickets hide-mob"></i>
                                
                                Door Jammed (8 hours)</div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 2</span>
                                   
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                                <img src="assets/images/icon-warning.svg">
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS2
                                
                                <i class="icon-tech"></i>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                                <span>Created:</span>
                                <b>5:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                                <span>Updated:</span>
                                <b>6:00PM 25-OCT-2019</b>
                            </div>
                        </div>
                        
                        <div class="swiper-slide tickets-accordion__ticket-card open">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                    
                                <i class="icon-tickets show-mob"></i>
                                
                                
                                Unusuall sound on door open (5 hours)</div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 3</span>
                                   
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS3
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                                <span>Created:</span>
                                <b>2:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                                <span>Updated:</span>
                                <b>New</b>
                            </div>
                        </div>
                        
                        <div class="swiper-slide tickets-accordion__ticket-card open">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                    
                                
                                <i class="icon-tickets hide-mob"></i>
                                
                                Door Stuck (9 hours)</div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 4</span>
                                   
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                                <img src="assets/images/icon-warning.svg">
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS4
                                
                                <i class="icon-tech"></i>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                                <span>Created:</span>
                                <b>7:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                                <span>Updated:</span>
                                <b>1:00PM 26-OCT-2019</b>
                            </div>
                        </div>
                        
                        <div class="swiper-slide tickets-accordion__ticket-card open">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                    
                                
                                <i class="icon-tickets hide-mob"></i>
                                
                                Fire or smoke (4 hours)</div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 1</span>
                                   
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                                <img src="assets/images/icon-warning.svg">
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS1
                                
                                <i class="icon-tech"></i>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                                <span>Created:</span>
                                <b>4:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                                <span>Updated:</span>
                                <b>5:00PM 25-OCT-2019</b>
                            </div>
                        </div>
                        
                        <div class="swiper-slide tickets-accordion__ticket-card open">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                    
                                
                                <i class="icon-tickets hide-mob"></i>
                                
                                Door Jammed (8 hours)</div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 2</span>
                                   
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                                <img src="assets/images/icon-warning.svg">
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS2
                                
                                <i class="icon-tech"></i>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                                <span>Created:</span>
                                <b>5:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                                <span>Updated:</span>
                                <b>6:00PM 25-OCT-2019</b>
                            </div>
                        </div>
                        
                        <div class="swiper-slide tickets-accordion__ticket-card open">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                    
                                <i class="icon-tickets show-mob"></i>
                                
                                
                                Unusuall sound on door open (5 hours)</div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 3</span>
                                   
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS3
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                                <span>Created:</span>
                                <b>2:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                                <span>Updated:</span>
                                <b>New</b>
                            </div>
                        </div>
                        
                        <div class="swiper-slide tickets-accordion__ticket-card open">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                    
                                
                                <i class="icon-tickets hide-mob"></i>
                                
                                Fire or smoke  (5 hours)</div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 1</span>
                                   
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                                <img src="assets/images/icon-warning.svg">
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS1
                                
                                <i class="icon-tech"></i>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                                <span>Created:</span>
                                <b>4:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                                <span>Updated:</span>
                                <b>5:00PM 25-OCT-2019</b>
                            </div>
                        </div>
                        
                        <div class="swiper-slide tickets-accordion__ticket-card open">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                    
                                
                                <i class="icon-tickets hide-mob"></i>
                                
                                Door Jammed (8 hours)</div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 2</span>
                                   
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                                <img src="assets/images/icon-warning.svg">
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS2
                                
                                <i class="icon-tech"></i>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                                <span>Created:</span>
                                <b>5:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                                <span>Updated:</span>
                                <b>6:00PM 25-OCT-2019</b>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next open"></div>
                <div class="swiper-button-prev open"></div>
                <div class="tickets-accordion__show-more-wrapper" id="show-more-open">
                    <button class="tickets-accordion__show-more-btn">Load More</button>
                </div>
                
            </div>
        </div>

        <!--Closed Tickets-->
        <div class="tickets-accordion">
            <div role="tab" id="closed-tickets-heading">
                <a class="tickets-accordion__collapsable" data-toggle="collapse" data-parent="#accordionEx"
                    href="#closed-tickets-collapse" aria-expanded="false" aria-controls="closed-tickets-collapse">
                    <h4 class="tickets-accordion__header"> closed services & requests 
                    
                    <span class="tickets-accordion__header-counter tickets-accordion__header-counter--closed">8</span>
                    
                    </h4>
                </a>
            </div>

            <div id="closed-tickets-collapse" class="collapse tickets-accordion__body" role="tabpanel" aria-labelledby="closed-tickets-collapse"
                data-parent="#accordionEx">
                
                <div class="swiper-container closed-tickets-swiper">
                    <div class="swiper-wrapper tickets-accordion__tickets-carousel" id="closed_tickets">
                        
                        <div class="swiper-slide tickets-accordion__ticket-card closed">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                
                                
                                <i class="icon-tickets hide-mob"></i>
                                
                                Fire or smoke</div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 1</span>
                               
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                                <img src="assets/images/icon-warning.svg">
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS1
                                
                                <i class="icon-tech"></i>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                            <span>Created:</span>
                            <b>4:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                            <span>Closed:</span>
                            <b>5:00PM 25-OCT-2019</b>
                            </div>
                        </div>
                        
                        <div class="swiper-slide tickets-accordion__ticket-card closed">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                
                                
                                <i class="icon-tickets hide-mob"></i>
                                
                                Door Jammed</div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 2</span>
                               
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                                <img src="assets/images/icon-warning.svg">
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS2
                                
                                <i class="icon-tech"></i>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                            <span>Created:</span>
                            <b>5:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                            <span>Closed:</span>
                            <b>6:00PM 25-OCT-2019</b>
                            </div>
                        </div>
                        
                        <div class="swiper-slide tickets-accordion__ticket-card closed">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                
                                <i class="icon-tickets show-mob"></i>
                                
                                
                                Unusuall sound on door open</div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 3</span>
                               
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS3
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                            <span>Created:</span>
                            <b>2:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                            <span>Closed:</span>
                            <b>2:00PM 26-OCT-2019</b>
                            </div>
                        </div>
                        
                        <div class="swiper-slide tickets-accordion__ticket-card closed">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                
                                
                                <i class="icon-tickets hide-mob"></i>
                                
                                Door Stuck </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 4</span>
                               
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                                <img src="assets/images/icon-warning.svg">
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS4
                                
                                <i class="icon-tech"></i>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                            <span>Created:</span>
                            <b>7:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                            <span>Closed:</span>
                            <b>1:00PM 26-OCT-2019</b>
                            </div>
                        </div>
                        
                        <div class="swiper-slide tickets-accordion__ticket-card closed">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                
                                
                                <i class="icon-tickets hide-mob"></i>
                                
                                Fire or smoke </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 1</span>
                               
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                                <img src="assets/images/icon-warning.svg">
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS1
                                
                                <i class="icon-tech"></i>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                            <span>Created:</span>
                            <b>4:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                            <span>Closed:</span>
                            <b>5:00PM 25-OCT-2019</b>
                            </div>
                        </div>
                        
                        <div class="swiper-slide tickets-accordion__ticket-card closed">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                
                                
                                <i class="icon-tickets hide-mob"></i>
                                
                                Door Jammed </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 2</span>
                               
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                                <img src="assets/images/icon-warning.svg">
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS2
                                
                                <i class="icon-tech"></i>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                            <span>Created:</span>
                            <b>5:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                            <span>Closed:</span>
                            <b>6:00PM 25-OCT-2019</b>
                            </div>
                        </div>
                        
                        <div class="swiper-slide tickets-accordion__ticket-card closed">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                
                                <i class="icon-tickets show-mob"></i>
                                
                                
                                Unusuall sound on door open </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 3</span>
                               
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS3
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                            <span>Created:</span>
                            <b>2:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                            <span>Closed:</span>
                            <b>2:00PM 26-OCT-2019</b>
                            </div>
                        </div>
                        
                        <div class="swiper-slide tickets-accordion__ticket-card closed">
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--title">
                                
                                <i class="icon-tickets show-mob"></i>
                                
                                
                                Unusuall sound on door open </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--elevator">
                                <span>
                                    <span class="tickets-accordion__ticket-info--elevator-name">Elevator 3</span>
                               
                                    <span class="tickets-accordion__ticket-info--elevator-number">23890487 </span>
                                </span>
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--location">
                                <i class="icon-location"></i>
                                JWS3
                                
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time first">
                            <span>Created:</span>
                            <b>2:00PM 25-OCT-2019</b>
                            </div>
                            <div class="tickets-accordion__ticket-info tickets-accordion__ticket-info--time mp-0">
                            <span>Closed:</span>
                            <b>2:00PM 26-OCT-2019</b>
                            </div>
                        </div>
                        
                    </div>

                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next closed"></div>
                <div class="swiper-button-prev closed"></div>
                <div class="tickets-accordion__show-more-wrapper" id="show-more-closed">
                    <button class="tickets-accordion__show-more-btn">Load More</button>
                </div>
                
            </div>

        </div>
    </div>

</section>




    </main>
  </body>  
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../assets/scripts/bootstrap.js"></script>
<script src="../assets/scripts/swiper.min.js"></script>
<script src="../assets/scripts/service-request-items.js"></script>

