<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <title>OTIS | Sidenav</title>
    <link rel="stylesheet" href="../assets/styles/general.css">
    <link rel="stylesheet" href="../assets/styles/components/sidenav.css">
    
  </head>
  <body>
    <main>
    
<div class="otis-nav">
    <div class="otis-nav__brand">
        OTIS
    </div>
    <div class="otis-nav__toggle">
        <div class="otis-nav__icons">
            <div class="otis-nav__bar1"></div>
            <div class="otis-nav__bar2"></div>
            <div class="otis-nav__bar3"></div>
        </div>
    </div>
    
        <div class="otis-nav__notifications-items no-data toogle-notifications">
            <div class="otis-nav__notifications-close">
                <img class="otis-nav__notifications-closeIcon" src="assets/images/close.svg" alt="close"/>
            </div>
         
         <h1 class="otis-nav__no-notifications">There are no notifications.</h1>
          
        </div>

        
        <ul class="otis-nav__items">
            <li class="otis-nav__link otis__notifications">
                <a class="otis-nav__page" href="#">
                    <i class="icon-notification"></i>
                    <span class="otis-nav__page-name">Notifications</span>
                         
                </a>
            </li>
            <li class="otis-nav__link active-link">
                <a class="otis-nav__page" href="#">
                    <i class="icon-home"></i>
                    <span class="otis-nav__page-name">Home</span>
                </a>
            </li>
            <li class="otis-nav__link ">
                <a class="otis-nav__page" href="#">
                    <i class="icon-tickets"></i>
                    <span class="otis-nav__page-name">service request</span>
                </a>
            </li>
            <li class="otis-nav__link ">
                <a class="otis-nav__page" href="#">
                    <i class="icon-building"></i>
                    <span class="otis-nav__page-name">Unit details</span>
                </a>
            </li>
            <li class="otis-nav__link ">
                <a class="otis-nav__page" href="#">
                    <i class="icon-finance"></i>
                    <span class="otis-nav__page-name">Billing and payments</span>
                </a>
            </li>
            <li class="otis-nav__link ">
                <a class="otis-nav__page" href="#">
                    <i class="icon-report"></i>
                    <span class="otis-nav__page-name">Reports</span>
                </a>
            
        </li>
            <li class="otis-nav__link otis-nav__service-request">
                <a class="otis-nav__page otis-nav__request-link" href="#">
                    <span class="icon-tickets"></span>
                    <span class="otis-nav__page-name">Create Service Request</span>
                </a>
            </li>
            <li class="otis-nav__persona ">
                <a class="" href="#">
                    <span class="otis-nav__persona-account">CE</span>

                </a>
            </li>

        </ul>
    </div>

    </main>
  </body>  
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../assets/scripts/sidenav.js" ></script>
